/* 
    Document   : stylesheetforemployeeDocuments
    Created on : 17 Oct, 2012, 5:54:13 PM
    Author     : dhirajj
    Description:
        Purpose of the stylesheet follows.
*/

.body{
    height: 100%;
    margin: 0px;
    padding: 0px
}

.form{
    height: 100%;
    margin: 0px;
    padding: 0px;
}

.mainpanel{

   background-color: white;
   height: 100%;
   width: 81%;
   border-radius: 12px;
/*   background-image: url(/EmployeeManagement/img/askara.jpg);
   background-repeat: no-repeat; */
   -webkit-box-shadow: 5px 5px 4px black;
    box-shadow: 5px 5px 4px rgb(136 136 136);
}

.banerimage{
    
    padding-left: 0px;
    height: 14%;
    width:52.1%;
    margin-right: 30%; 
    position: absolute;  
    left: 9.5%;
    top: 0.4%;
    border-radius: 12px;
}


.horizontalSeparator{
    
    width: 79%;
    height: 1.1%;
    position: absolute;
    top:14%;
    left:10% ;
    -webkit-box-shadow: 3px 3px 9px 1px darkgray;
    box-shadow:5px 4px 4px darkgray ;
}
.addPanel{
    width: 79.5%; 
    height: 28%;
    position: absolute; 
    top:24%;
    border-width: 1px;
    left:10% ;
    text-align: left;
    border-radius: 12px;
    resize: horizontal;
    -webkit-box-shadow: 3px 3px 9px 1px darkgray;
    box-shadow:5px 4px 4px darkgray ;
}
/*.addPanel{
    width: 79.5%; 
    height: 28%;
    position: absolute; 
    top:24%;
    border-width: 1px;
    left:9.8% ;
    text-align: left;
    border-radius: 12px;
    resize: horizontal;
    -webkit-box-shadow: 3px 3px 9px 1px darkgray;
    box-shadow:5px 4px 4px darkgray ;
}*/

/*.addPanelforDocuments{
    width: 95%; 
    height: 45%;
    position: absolute; 
    top:2%;
    text-align: left;
    border-radius: 12px;
    resize: horizontal;
    -webkit-box-shadow: 3px 3px 9px 1px darkgray;
    box-shadow:5px 4px 4px darkgray ;
}*/


.verticalSeparator{
    
    width: 0.1px; 
    height: 76.2%;
    position: absolute; 
    top:9%;
    left: 49.95%;
}
.tblHeader{
    height: 10%;
    width: 10%;
    font-size: 100%;
}

.hSeparator{
width: 95%;
 position: absolute; 
 top:50%;
 -webkit-box-shadow: 2px 2px 27px 1px darkgray;
    box-shadow:2px 1px 1px darkgray ;
    
    
}

.ui-datatable table {
border-collapse: collapse;
width: 100%;
 
}

.ui-menubar {
 position: absolute;
    top:17%;
    width: 79.5%;
    left:10% ;
}
.ui-helper-clearfix:after {
content: none;
display: block;
height: 0;
clear: both;
visibility: hidden;
}
.ui-dialog .ui-dialog-titlebar {
padding: 0em 0em 0em 0em;
position: relative;
border: 0px;
}

ui.dialog.ui-widget-content {
border: 1px solid #a8a8a8;
background: none;
color: #4f4f4f;
 
}